In [20]:
import pandas as pd
import numpy as np
path = "C:\Projects\MM_Resources_Estimation\AREAS\Guyana\DB\DH_Comp_cut03ppm_w5.csv"

In [21]:
df = pd.read_csv(path)
df

,Area,Trace,FROM,TO,Projet,Sample_Number,Length,Au,Cu,Drill_Type,Au_cut,EAST,NORTH,RL,Label,CS
0,Area,CO15007DD,5.80,10.00,Condamnation_CGT,58802,4.20,0.662000,0,DD,0.66,173567.352000,521546.419022,107.917232,0.66ppm@4.20m,NaN
1,Area,CO15007DD,48.16,49.22,Condamnation_CGT,58837,1.06,0.500000,0,DD,0.50,173567.352000,521572.638329,76.670279,0.50ppm@1.06m,NaN
2,Area,GT03,314.80,315.52,Geotechnical_CGT,67125,0.72,3.312000,0,NaN,3.31,173461.889719,520541.206333,139.121866,3.31ppm@0.72m,NaN
3,Area,GT03,315.78,317.00,Geotechnical_CGT,67126,1.22,0.494000,0,NaN,0.49,173461.728651,520541.850023,138.086206,0.49ppm@1.22m,NaN
4,Area,GT03,320.50,321.28,Geotechnical_CGT,67131,0.78,0.433000,0,NaN,0.43,173461.139380,520544.204987,134.297204,0.43ppm@0.78m,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2423,Area,SRK_TSF_DH5,2.85,3.90,Geotechnical_CGT,54900,1.05,0.702000,0,NaN,0.70,173558.625000,522635.593000,88.343432,0.70ppm@1.05m,NaN
2424,Area,SRK_TSF_DH5,4.00,4.50,Geotechnical_CGT,54901,0.50,0.528000,0,NaN,0.53,173558.625000,522635.593000,87.468432,0.53ppm@0.50m,NaN
2425,Area,SRK_TSF_DH9,0.00,3.30,Geotechnical_CGT,55223,3.30,0.702606,0,NaN,0.70,173369.270000,521351.980000,104.350000,0.70ppm@3.30m,NaN
2426,Area,SRK_TSF_DH9,4.30,5.30,Geotechnical_CGT,55226,1.00,0.506000,0,NaN,0.51,173369.270000,521351.980000,101.200000,0.51ppm@1.00m,NaN
2427,Area,SRK_TSF_DH10,27.00,27.70,Geotechnical_CGT,54897,0.70,0.620000,0,NaN,0.62,173512.594000,522307.092000,68.873684,0.62ppm@0.70m,NaN

In [69]:
df.dropna(subset=["CS"], inplace=True)
df.reset_index(inplace=True, drop=True)

In [70]:
for profile in df["CS"]

df_profile = df.loc[df["CS"] == profile]

In [76]:
df_profile.loc[df_profile.groupby('Trace')['RL'].idxmax()]

,Area,Trace,FROM,TO,Projet,Sample_Number,Length,Au,Cu,Drill_Type,Au_cut,EAST,NORTH,RL,Label,CS
0,Resources,GT04,15.9,17.1,Geotechnical_CGT,59358,1.2,0.331000,0,NaN,0.33,173469.916414,520695.304724,302.715175,0.33ppm@1.20m,31.0
524,Resources,MO12068,7.0,9.0,Montagne d'Or_CGT,MOF-12974,2.0,3.410000,0,DD,3.41,173439.831356,520741.263720,297.486958,3.41ppm@2.00m,31.0
668,Resources,MO12080,0.0,25.0,Montagne d'Or_CGT,MOF-17242,25.0,0.636800,0,DD,0.64,173436.208979,520956.563820,196.901961,0.64ppm@25.00m,31.0
771,Resources,MO12087,1.0,11.0,Montagne d'Or_CGT,MOF-19772,10.0,0.905000,0,DD,0.91,173434.917695,520880.201573,235.967351,0.91ppm@10.00m,31.0
1067,Resources,MO13109,1.0,36.0,Montagne d'Or_CGT,27222,35.0,0.624286,0,DD,0.62,173441.959256,520977.723240,191.233412,0.62ppm@35.00m,31.0
1690,Resources,MO14199,17.0,20.0,Montagne d'Or_CGT,43822,3.0,0.476500,0,DD,0.48,173439.932428,520790.099627,275.738544,0.48ppm@3.00m,31.0

In [80]:
sorted_traces = df_profile.loc[df_profile.groupby('Trace')['RL'].idxmax()].sort_values("NORTH")["Trace"].to_list()

In [81]:
df_profile["order"] = np.NAN
for num, trace in enumerate(sorted_traces, 1):
    df_profile.loc[df_profile["Trace"] == trace, "order"] = num

c:\users\alexey.belyakov\pycharmprojects\ibm_ml_course\venv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\users\alexey.belyakov\pycharmprojects\ibm_ml_course\venv\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [85]:
df_profile

,Area,Trace,FROM,TO,Projet,Sample_Number,Length,Au,Cu,Drill_Type,Au_cut,EAST,NORTH,RL,Label,CS,order
0,Resources,GT04,15.90,17.10,Geotechnical_CGT,59358,1.20,0.331000,0,NaN,0.33,173469.916414,520695.304724,302.715175,0.33ppm@1.20m,31.0,6.0
1,Resources,GT04,23.50,24.49,Geotechnical_CGT,59365,0.99,0.550000,0,NaN,0.55,173469.017758,520697.923522,295.750880,0.55ppm@0.99m,31.0,6.0
2,Resources,GT04,66.45,67.05,Geotechnical_CGT,59378,0.60,0.486000,0,NaN,0.49,173461.924616,520712.898974,256.347739,0.49ppm@0.60m,31.0,6.0
3,Resources,GT04,81.39,82.74,Geotechnical_CGT,59381,1.35,16.333481,0,NaN,16.33,173459.129627,520718.946331,242.558119,16.33ppm@1.35m,31.0,6.0
4,Resources,GT04,99.00,99.56,Geotechnical_CGT,55143,0.56,0.420000,0,NaN,0.42,173455.919319,520726.000208,227.186799,0.42ppm@0.56m,31.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1702,Resources,MO14199,216.80,237.04,Montagne d'Or_CGT,44043,20.24,0.877573,0,DD,0.88,173441.292164,520888.452661,92.072798,0.88ppm@20.24m,31.0,4.0
1703,Resources,MO14199,242.40,244.60,Montagne d'Or_CGT,44073,2.20,0.448909,0,DD,0.45,173441.466340,520896.961622,77.843928,0.45ppm@2.20m,31.0,4.0
1704,Resources,MO14199,255.40,278.20,Montagne d'Or_CGT,44086,22.80,0.433144,0,DD,0.43,173441.722637,520909.106801,57.962048,0.43ppm@22.80m,31.0,4.0
1705,Resources,MO14199,286.04,301.00,Montagne d'Or_CGT,44121,14.96,0.468398,0,DD,0.47,173442.159537,520923.314938,35.339810,0.47ppm@14.96m,31.0,4.0
1706,Resources,MO14199,307.00,308.80,Montagne d'Or_CGT,44141,1.80,1.089000,0,DD,1.09,173442.350973,520931.069742,23.231563,1.09ppm@1.80m,31.0,4.0

In [92]:
df = pd.read_csv(path)
df.dropna(subset=["CS"], inplace=True)
df.reset_index(inplace=True, drop=True)
df["order"] = np.NAN
for profile in df["CS"].unique():
    df_profile = df.loc[df["CS"] == profile]
    sorted_traces = df_profile.loc[df_profile.groupby('Trace')['RL'].idxmax()].sort_values("NORTH")["Trace"].to_list()
    for num, trace in enumerate(sorted_traces, 1):
        df.loc[df["Trace"] == trace, "order"] = num

In [93]:
df

,Area,Trace,FROM,TO,Projet,Sample_Number,Length,Au,Cu,Drill_Type,Au_cut,EAST,NORTH,RL,Label,CS,order
0,Resources,GT04,15.90,17.10,Geotechnical_CGT,59358,1.20,0.331000,0,NaN,0.33,173469.916414,520695.304724,302.715175,0.33ppm@1.20m,31.0,5.0
1,Resources,GT04,23.50,24.49,Geotechnical_CGT,59365,0.99,0.550000,0,NaN,0.55,173469.017758,520697.923522,295.750880,0.55ppm@0.99m,31.0,5.0
2,Resources,GT04,66.45,67.05,Geotechnical_CGT,59378,0.60,0.486000,0,NaN,0.49,173461.924616,520712.898974,256.347739,0.49ppm@0.60m,31.0,5.0
3,Resources,GT04,81.39,82.74,Geotechnical_CGT,59381,1.35,16.333481,0,NaN,16.33,173459.129627,520718.946331,242.558119,16.33ppm@1.35m,31.0,5.0
4,Resources,GT04,99.00,99.56,Geotechnical_CGT,55143,0.56,0.420000,0,NaN,0.42,173455.919319,520726.000208,227.186799,0.42ppm@0.56m,31.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2388,Resources,RA-96-66,0.55,1.45,Montagne d'Or_GUY,MORA-0570,0.90,0.873333,0,NaN,0.87,174589.748852,521040.975726,174.662961,0.87ppm@0.90m,7.0,4.0
2389,Resources,RA-96-66,4.40,8.30,Montagne d'Or_GUY,MORA-0575,3.90,1.218974,0,NaN,1.22,174589.762830,521035.925936,176.235034,1.22ppm@3.90m,7.0,4.0
2390,Resources,RA-96-66,14.80,15.30,Montagne d'Or_GUY,MORA-0582,0.50,0.530000,0,NaN,0.53,174590.820294,521027.366800,177.356993,0.53ppm@0.50m,7.0,4.0
2391,Resources,RA-97-76,2.00,2.65,Montagne d'Or_GUY,MORA-0645,0.65,0.790000,0,NaN,0.79,172428.056043,520535.624735,288.403987,0.79ppm@0.65m,51.0,1.0
2392,Area,SRK_INT01,16.43,17.68,Geotechnical_CGT,55354,1.25,1.960000,0,NaN,1.96,172103.400000,521289.300000,129.276124,1.96ppm@1.25m,53.0,5.0

In [94]:
path_out = "C:\Projects\MM_Resources_Estimation\AREAS\Guyana\DB\DH_Comp_cut03ppm_w5_indexed.csv"

df.to_csv(path_out, index=False)